body {
  
  font-family: Arial, sans-serif;
  
  margin: 0;
  
  background: #f4f6f8;
  
}


.container {
  
  max-width: 900px;
  
  margin: 20px auto;
  
  background: white;
  
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  
  display: flex;
  
  flex-wrap: wrap;
  
}


.sidebar {
  
  background: #0f172a;
  
  color: white;
  
  padding: 30px;
  
  width: 35%;
  
}


.main {
  
  padding: 30px;
  
  width: 65%;
  
}


h1 {
  
  margin-top: 0;
  
  color: #0f172a;
  
}


h2 {
  
  margin-top: 0;
  
}


h3 {
  
  color: #2563eb;
  
  margin-bottom: 5px;
  
}


p {
  
  margin: 5px 0;
  
}


.skill {
  
  display: inline-block;
  
  background: #2563eb;
  
  color: white;
  
  padding: 5px 10px;
  
  margin: 5px 5px 0 0;
  
  border-radius: 5px;
  
  font-size: 14px;
  
}


.btn {
  
  display: inline-block;
  
  margin-top: 15px;
  
  padding: 10px 15px;
  
  background: #2563eb;
  
  color: white;
  
  text-decoration: none;
  
  border-radius: 5px;
  
  font-weight: bold;
  
}


.btn:hover {
  
  background: #1d4ed8;
  
}


.section {
  
  margin-top: 20px;
  
}


@media(max-width:768px) {
  
  .sidebar,
  
  .main {
    
    width: 100%;
    
  }
  
}
